In the wake of the Great Recession of 2009, there has been a good deal of focus on employment statistics, one of the most important metrics policymakers use to gauge the overall strength of the economy. In the United States, the government measures unemployment using the Current Population Survey (CPS), which collects demographic and employment information from a wide range of Americans each month. Exploratory data analysis will be performed using the September 2013 version of this rich, nationally representative dataset.

In [9]:
%matplotlib inline
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
cps = pd.read_csv('D:/DS/analytics_edge/CPSData.csv')
metro_code = pd.read_csv('D:/DS/analytics_edge/MetroAreaCodes.csv')
country_code = pd.read_csv('D:/DS/analytics_edge/CountryCodes.csv')

In [10]:
pandas_profiling.ProfileReport(cps)

In [13]:
cps.sample(5)

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry
128273,4,Midwest,Wisconsin,NaN,17,Never Married,Female,No high school diploma,White,0,57,"Citizen, Native",Not in Labor Force,NaN
80044,2,West,New Mexico,10740.0,80,Married,Female,High school,White,0,57,"Citizen, Native",Retired,NaN
6850,5,West,California,31100.0,4,NaN,Male,NaN,White,1,57,"Citizen, Native",NaN,NaN
123902,4,West,Washington,42660.0,9,NaN,Male,NaN,White,0,57,"Citizen, Native",NaN,NaN
110528,5,South,Texas,19100.0,6,NaN,Female,NaN,White,1,57,"Citizen, Native",NaN,NaN

In [14]:
cps.shape

(131302, 14)

In [23]:
cps['Industry'].value_counts()

Educational and health services                15017
Trade                                           8933
Professional and business services              7519
Manufacturing                                   6791
Leisure and hospitality                         6364
Construction                                    4387
Financial                                       4347
Transportation and utilities                    3260
Other services                                  3224
Public administration                           3186
Information                                     1328
Agriculture, forestry, fishing, and hunting     1307
Mining                                           550
Armed forces                                      29
Name: Industry, dtype: int64

Highest number of interviewees are from the educational and health services.

In [24]:
cps['State'].value_counts()

California              11570
Texas                    7077
New York                 5595
Florida                  5149
Pennsylvania             3930
Illinois                 3912
Ohio                     3678
Maryland                 3200
Minnesota                3139
Michigan                 3063
Virginia                 2953
Colorado                 2925
Connecticut              2836
Georgia                  2807
Wisconsin                2686
New Hampshire            2662
North Carolina           2619
New Jersey               2567
Iowa                     2528
Washington               2366
Maine                    2263
Delaware                 2214
Rhode Island             2209
Missouri                 2145
Hawaii                   2099
Indiana                  2004
South Dakota             2000
Massachusetts            1987
Nebraska                 1949
Oregon                   1943
Kansas                   1935
Vermont                  1890
Nevada                   1856
Utah                     1842
Kentucky                 1841
District of Columbia     1791
Tennessee                1784
South Carolina           1658
North Dakota             1645
Wyoming                  1624
Alaska                   1590
Arizona                  1528
Oklahoma                 1523
Idaho                    1518
Louisiana                1450
Arkansas                 1421
West Virginia            1409
Alabama                  1376
Mississippi              1230
Montana                  1214
New Mexico               1102
Name: State, dtype: int64

California - Highest, New Mexico - Lowest

In [33]:
cps['Citizenship'].value_counts()

Citizen, Native         116639
Non-Citizen               7590
Citizen, Naturalized      7073
Name: Citizenship, dtype: int64

In [34]:
116639 + 7073

123712

In [35]:
cps.shape

(131302, 14)

In [36]:
123712/131302

0.9421943306271039

Proportion of dataset with US citizenship: 0.9421

In [51]:
cps.groupby('Race')['Hispanic'].sum()

Race
American Indian       304
Asian                 113
Black                 621
Multiracial           448
Pacific Islander       77
White               16731
Name: Hispanic, dtype: int64

>250: American Indian, Black, Multiracial, White

In [99]:
pd.crosstab(cps['Region'], cps['Married'].isna())

Married    False  True
Region
Midwest    24609   6075
Northeast  21432   4507
South      33535   7967
West       26388   6789

In [100]:
pd.crosstab(cps['Citizenship'], cps['Married'].isna())

Married               False  True
Citizenship
Citizen, Native       91956  24683
Citizen, Naturalized   6910    163
Non-Citizen            7098    492

In [102]:
pd.crosstab(cps['Age'], cps['Married'].isna())

Married  False  True
Age
0            0   1283
1            0   1559
2            0   1574
3            0   1693
4            0   1695
5            0   1795
6            0   1721
7            0   1681
8            0   1729
9            0   1748
10           0   1750
11           0   1721
12           0   1797
13           0   1802
14           0   1790
15        1795      0
16        1751      0
17        1764      0
18        1596      0
19        1517      0
20        1398      0
21        1525      0
22        1536      0
23        1638      0
24        1627      0
25        1604      0
26        1643      0
27        1657      0
28        1736      0
29        1645      0
..         ...    ...
52        1935      0
53        1994      0
54        1912      0
55        1895      0
56        1935      0
57        1827      0
58        1874      0
59        1758      0
60        1746      0
61        1735      0
62        1595      0
63        1596      0
64        1519      0
65        1569      0
66        1577      0
67        1227      0
68        1130      0
69        1062      0
70        1195      0
71        1031      0
72         941      0
73         896      0
74         842      0
75         763      0
76         729      0
77         698      0
78         659      0
79         661      0
80        2664      0
85        2446      0

[82 rows x 2 columns]

In [88]:
pd.crosstab(cps['Sex'], cps['Married'].isna())

Married  False  True
Sex
Female   55264  12217
Male     50700  13121

By comparing marital status withregion, sex, age, and citizenship; it is clear that marital status entries depend on age. Married is missing for all interviewees Aged 0-14 and is present for all interviewees aged 15 and older. This is because the CPS does not ask about marriage status for interviewees 14 and younger.

In [104]:
pd.crosstab(cps['State'], cps['MetroAreaCode'].isna())

MetroAreaCode         False  True
State
Alabama                1020    356
Alaska                    0   1590
Arizona                1327    201
Arkansas                724    697
California            11333    237
Colorado               2545    380
Connecticut            2593    243
Delaware               1696    518
District of Columbia   1791      0
Florida                4947    202
Georgia                2250    557
Hawaii                 1576    523
Idaho                   761    757
Illinois               3473    439
Indiana                1420    584
Iowa                   1297   1231
Kansas                 1234    701
Kentucky                908    933
Louisiana              1216    234
Maine                   909   1354
Maryland               2978    222
Massachusetts          1858    129
Michigan               2517    546
Minnesota              2150    989
Mississippi             376    854
Missouri               1440    705
Montana                 199   1015
Nebraska                816   1133
Nevada                 1609    247
New Hampshire          1148   1514
New Jersey             2567      0
New Mexico              832    270
New York               5144    451
North Carolina         1642    977
North Dakota            432   1213
Ohio                   2754    924
Oklahoma               1024    499
Oregon                 1519    424
Pennsylvania           3245    685
Rhode Island           2209      0
South Carolina         1139    519
South Dakota            595   1405
Tennessee              1149    635
Texas                  6060   1017
Utah                   1455    387
Vermont                 657   1233
Virginia               2367    586
Washington             1937    429
West Virginia           344   1065
Wisconsin              1882    804
Wyoming                   0   1624

Alaska and Wyoming have no interviewees living in a metropolitan area, and the District of Columbia, New Jersey, and Rhode Island have all interviewees living in a metro area.

In [114]:
pd.crosstab(cps['Region'], cps['MetroAreaCode'].isna())

MetroAreaCode  False  True
Region
Midwest        20010  10674
Northeast      20330   5609
South          31631   9871
West           25093   8084

In [117]:
10674/(20010+10674)*100

34.78685960109503

In [121]:
5609/(20330+5609)*100

21.623809707390414

In [122]:
9871/(31631+9871)*100

23.784395932726135

In [123]:
8084/(25093+8084)*100

24.366277843084063

Proportion of interviewees in each region that live in a non-metropolitan area: 34.8% in the Midwest, 21.6% in the Northeast, 23.8% in the South, and 24.4% in the West.

In [160]:
pd.crosstab(cps['State'], cps['MetroAreaCode'].isna()).head()

MetroAreaCode  False  True
State
Alabama         1020    356
Alaska             0   1590
Arizona         1327    201
Arkansas         724    697
California     11333    237

In [167]:
metro_code.shape

(271, 2)

In [169]:
metro_code.head()

   Code                            MetroArea
0   460          Appleton-Oshkosh-Neenah, WI
1  3000    Grand Rapids-Muskegon-Holland, MI
2  3160  Greenville-Spartanburg-Anderson, SC
3  3610                        Jamestown, NY
4  3720           Kalamazoo-Battle Creek, MI

In [168]:
country_code.shape

(149, 2)

Converting the metro codes and country codes to dictionary format

In [205]:
metro_code_dict = metro_code.set_index('Code').to_dict()['MetroArea']
country_code_dict = country_code.set_index('Code').to_dict()['Country']

Using map() function to assign values from metro area to corresponding metro codes, and countries from corresponding country of birth codes.

In [213]:
cps['Metro Area'] = cps['MetroAreaCode'].map(metro_code_dict)
cps['Country'] = cps['CountryOfBirthCode'].map(country_code_dict)

In [240]:
cps.sample(5)

,PeopleInHousehold,Region,State,MetroAreaCode,Age,Married,Sex,Education,Race,Hispanic,CountryOfBirthCode,Citizenship,EmploymentStatus,Industry,Metro Area,Country
101593,2,Northeast,Pennsylvania,25420.0,52,Never Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Financial,"Harrisburg-Carlisle, PA",United States
119042,5,Northeast,Vermont,NaN,15,Never Married,Female,No high school diploma,White,0,57,"Citizen, Native",Not in Labor Force,NaN,NaN,United States
79562,4,Northeast,New Jersey,37980.0,50,Married,Male,High school,White,1,303,Non-Citizen,Employed,Leisure and hospitality,"Philadelphia-Camden-Wilmington, PA-NJ-DE",Mexico
64361,4,Midwest,Minnesota,33460.0,37,Married,Male,Bachelor's degree,White,0,57,"Citizen, Native",Employed,Public administration,"Minneapolis-St Paul-Bloomington, MN-WI",United States
91890,1,Midwest,Ohio,10420.0,55,Divorced,Male,High school,White,0,57,"Citizen, Native",Employed,Trade,"Akron, OH",United States

In [221]:
cps.shape

(131302, 16)

In [222]:
cps['Metro Area'].value_counts().head()

New York-Northern New Jersey-Long Island, NY-NJ-PA    5409
Washington-Arlington-Alexandria, DC-VA-MD-WV          4177
Los Angeles-Long Beach-Santa Ana, CA                  4102
Philadelphia-Camden-Wilmington, PA-NJ-DE              2855
Chicago-Naperville-Joliet, IN-IN-WI                   2772
Name: Metro Area, dtype: int64

New York-Northern New Jersey-Long Island, NY-NJ-PA has the highest number of interviewees.

In [264]:
t = cps.groupby(['Metro Area'])['Hispanic'].mean().reset_index()
t.head()

                          Metro Area  Hispanic
0                          Akron, OH  0.012987
1                         Albany, GA  0.044118
2        Albany-Schenectady-Troy, NY  0.041045
3                    Albuquerque, NM  0.441708
4  Allentown-Bethlehem-Easton, PA-NJ  0.086826

In [263]:
t.sort_values('Hispanic', ascending = False).head()

                     Metro Area  Hispanic
129                  Laredo, TX  0.966292
145  McAllen-Edinburg-Pharr, TX  0.948718
37    Brownsville-Harlingen, TX  0.797468
74                  El Paso, TX  0.790984
73                El Centro, CA  0.686869

Laredo, Texas has the highest proportion of Hispanic interviewees.